<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <title>
        EndoKlinik
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/f9ab2bc580.js" crossorigin="anonymous"></script>
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/css/soft-ui-dashboard.css?v=1.0.6" rel="stylesheet" />
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    @RenderSection("Styles", false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<style>
  .navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item>.nav-link .icon .color-background {
      color: #3a416f !important;
  }
  
  .navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon .color-background,
  .navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon .color-foreground {
      color: #fff !important;
  }
</style>
<body class="g-sidenav-hidden g-sidenav-show bg-gray-100">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-white" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="javascript();" target="_blank">
                <img src="~/img/logo-ct-dark.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">EndoKlinik</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                @if(@HttpContextAccessor.HttpContext.Session.GetInt32("rl") == 1) {
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Appointment", controllers: "User")' href="/User/Appointment">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-calendar-grid-58 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Randevu Takvimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Patient,Details", controllers: "User")' href="/User/Patient">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-single-02 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Hasta Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Treatment,TreatmentDetails", controllers: "User")' href="/User/Treatment">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-collection color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Tedavi Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Users", controllers: "User")' href="/User/Users">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-badge color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Personel Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Applications", controllers: "User")' href="/User/Applications">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-archive-2 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Başvurular</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Consents", controllers: "User")' href="/User/Consents">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-books color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Onam Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Surveys", controllers: "User")' href="/User/Surveys">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-chart-bar-32 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Anket Yönetimi</span>
                    </a>
                </li>
                }
                @if(@HttpContextAccessor.HttpContext.Session.GetInt32("rl") == 6) {
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Appointment", controllers: "User")' href="/User/Appointment">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-calendar-grid-58 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Randevu Takvimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Patient,Details", controllers: "User")' href="/User/Patient">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-single-02 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Hasta Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Treatment,TreatmentDetails", controllers: "User")' href="/User/Treatment">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-collection color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Tedavi Yönetimi</span>
                    </a>
                </li>
                }
                @if(@HttpContextAccessor.HttpContext.Session.GetInt32("rl") == 7) {
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Appointment", controllers: "User")' href="/User/Appointment">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-calendar-grid-58 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Randevu Takvimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Patient,Details", controllers: "User")' href="/User/Patient">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-single-02 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Hasta Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Treatment,TreatmentDetails", controllers: "User")' href="/User/Treatment">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-collection color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Tedavi Yönetimi</span>
                    </a>
                </li>
                }
                else if(@HttpContextAccessor.HttpContext.Session.GetInt32("rl") == 2)
                {
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Index", controllers: "Admin")' href="/Admin/Index">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-calendar-grid-58 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Genel Yönetim</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Analysis", controllers: "Admin")' href="/Admin/Analysis">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-badge color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Laboratuvar Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Radiology", controllers: "Admin")' href="/Admin/Radiology">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-camera-compact color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Radyoloji Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Appointment", controllers: "Admin")' href="/Admin/Appointment">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-calendar-grid-58 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Takvim Yönetimi</span>
                    </a>
                </li>
                }
                else if(@HttpContextAccessor.HttpContext.Session.GetInt32("rl") == 4)
                {
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Index", controllers: "Accountant")' href="/Accountant/Index">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-calendar-grid-58 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Stok Yönetimi</span>
                    </a>
                </li> 
                }
                else if(@HttpContextAccessor.HttpContext.Session.GetInt32("rl") == 3)
                {
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Patient,Details", controllers: "User")' href="/User/Patient">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-single-02 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Hasta Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Users", controllers: "User")' href="/User/Users">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-badge color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Personel Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Applications", controllers: "User")' href="/User/Applications">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-archive-2 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Başvurular</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Consents", controllers: "User")' href="/User/Consents">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-books color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Onam Yönetimi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class='nav-link @Html.IsActive(actions: "Surveys", controllers: "User")' href="/User/Surveys">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                          <i class="ni ni-chart-bar-32 color-background"></i>
                        </div>
                        <span class="nav-link-text ms-1">Anket Yönetimi</span>
                    </a>
                </li>
                }
            </ul>
        </div>
        @* <div class="sidenav-footer mx-3 ">
            <div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
                <div class="full-background" style="background-image: url('/img/curved-images/white-curved.jpg')"></div>
                <div class="card-body text-start p-3 w-100">
                    <div class="icon icon-shape icon-sm bg-white shadow text-center mb-3 d-flex align-items-center justify-content-center border-radius-md">
                        <i class="ni ni-diamond text-dark text-gradient text-lg top-0" aria-hidden="true" id="sidenavCardIcon"></i>
                    </div>
                    <div class="docs-info">
                        <h6 class="text-white up mb-0">Yardım mı lazım?</h6>
                        <p class="text-xs font-weight-bold">Lütfen bize ulaşın.</p>
                        <a href="http://coryazilim.com" target="_blank" class="btn btn-white btn-sm w-100 mb-0">Cor Yazılım Hizmetleri</a>
                    </div>
                </div>
            </div>
        </div> *@
        @if (!String.IsNullOrEmpty(ViewBag.PatientName))
            {
                <div class="sidenav-footer mx-1">
                    <div class="card" id="sidenavCard">
                        <h6>@ViewBag.PatientName</h6>
                    </div>
                </div>
            }
    </aside>
    <main class="main-content position-relative h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-2 shadow-none border-radius-xl position-sticky blur shadow-blur mt-4 left-auto top-1 z-index-sticky" id="navbarBlur" navbar-scroll="true">
            <div class="container-fluid py-1">
                @if (!String.IsNullOrEmpty(ViewBag.PatientName))
                {
                    <a class="navbar-brand d-none d-xl-block d-l-block" href="javascript:;" rel="tooltip" data-placement="bottom" style="padding: 0 !important; ">
                        @ViewBag.PatientName - Yaş: @ViewBag.Age - Tc: @ViewBag.IdentificationNumber - Tel: @ViewBag.Phone
                    </a>
                }
                else
                {
                    <a class="navbar-brand" href="javascript:;" rel="tooltip" data-placement="bottom">
                        @HttpContextAccessor.HttpContext.Session.GetString("fullname")
                    </a>
                }
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav navbar-nav-hover ms-auto" style="flex-direction: row-reverse">
                        <li class="nav-item ps-3 d-flex align-items-center">
                            <a class="cursor-pointer" href="/Auth/LogOut">
                                <i class="fa fa-times fixed-plugin-button-nav" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid py-3 px-2">
            @RenderBody()
            <footer class="footer pt-3">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div class="copyright text-center text-sm text-muted text-lg-start">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>, made with <i class="fa fa-heart"></i> by
                                <a href="http://coryazilim.com" class="font-weight-bold" target="_blank">Cor Yazılım Hizmetleri</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
    @RenderSection("Scripts", required: false)
    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
    <!--   Core JS Files   -->
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/js/plugins/chartjs.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/soft-ui-dashboard.min.js?v=1.0.6"></script>
</body>

</html>