@model List<Cor.Apt.Entities.AnalysisType>
@{
    var Analysis = (Cor.Apt.Entities.Analysis)ViewBag.Analysis;
    var Types = (List<Cor.Apt.Entities.Type>)ViewBag.Types;
}
<style>
    h6 {
        margin-top: 10px !important;
    } 
</style>
<a class="btn btn-icon btn-3 btn-default" href="/User/Details?patientId=@Analysis.PatientId" type="button">
	<span class="btn-inner--icon"><i class="ni ni-bold-left"></i></span>
    <span class="btn-inner--text">Hastaya Geri Dön</span>
</a>
<div class="card">
    <div class="card-header card-header-primary card-header-text" style="padding-bottom: 0px !important">
        <div class="card-text">
            <h4 class="card-title">Laboratuvar Detay</h4>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Update" asp-controller="AnalysisType" method="post">
            <input type="hidden" name="AnalysisId" value="@Analysis.AnalysisId">
            <input type="hidden" name="PatientId" value="@Analysis.PatientId">
            <div class="row">
                <div class="col-md-3">
                    <table>
                        <thead>
                            <tr>
                              <th class="text-secondary opacity-7"></th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fiyat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><h6>Diabet Paneli</h6></td></tr>
                            @foreach (var type in Types.Take(12))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr>
                                <td><ejs-checkbox id="@Types.Where(i => i.TypeId == 171).FirstOrDefault().TypeId" checked='@Model.Any(i => i.TypeId == 171) ? true : false' label="@Types.Where(i => i.TypeId == 171).FirstOrDefault().TypeName" value="@Types.Where(i => i.TypeId == 171).FirstOrDefault().TypeId" name="Type"></ejs-checkbox></td>
                                <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@Types.Where(i => i.TypeId == 171).FirstOrDefault().Price₺</p></td>
                            </tr>
                            <tr><td><h6>Hormonlar</h6></td></tr>
                            @foreach (var type in Types.Skip(12).Take(25))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Gaita Paneli</h6></td></tr>
                            @foreach (var type in Types.Skip(37).Take(4))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr>
                                <td><ejs-checkbox id="@Types.Where(i => i.TypeId == 170).FirstOrDefault().TypeId" checked='@Model.Any(i => i.TypeId == 170) ? true : false' label="@Types.Where(i => i.TypeId == 170).FirstOrDefault().TypeName" value="@Types.Where(i => i.TypeId == 170).FirstOrDefault().TypeId" name="Type"></ejs-checkbox></td>
                                <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@Types.Where(i => i.TypeId == 170).FirstOrDefault().Price₺</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <table>
                        <thead>
                            <tr>
                              <th class="text-secondary opacity-7"></th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fiyat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><h6>Karaciğer Paneli</h6></td></tr>
                            @foreach (var type in Types.Skip(41).Take(10))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Vitaminler Paneli</h6></td></tr>
                            @foreach (var type in Types.Skip(51).Take(8))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Elektrolid</h6></td></tr>
                            @foreach (var type in Types.Skip(59).Take(16))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Diğer</h6></td></tr>
                            @foreach (var type in Types.Skip(75).Take(8))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <table>
                        <thead>
                            <tr>
                              <th class="text-secondary opacity-7"></th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fiyat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><h6>Lipid Paneli</h6></td></tr>
                            @foreach (var type in Types.Skip(83).Take(6))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Kardiyoloji Paneli</h6></td></tr>
                            @foreach (var type in Types.Skip(89).Take(5))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Tiroid Paneli</h6></td></tr>
                            @foreach (var type in Types.Skip(94).Take(10))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Dinamik Testler</h6></td></tr>
                            @foreach (var type in Types.Skip(104).Take(17))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Kemik Paneli</h6></td></tr>
                            @foreach (var type in Types.Skip(121).Take(8))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <table>
                        <thead>
                            <tr>
                              <th class="text-secondary opacity-7"></th>
                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fiyat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><h6>Böbrek Paneli</h6></td></tr>
                            @foreach (var type in Types.Skip(129).Take(3))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>İdrar Paneli</h6></td></tr>
                            @foreach (var type in Types.Skip(132).Take(23))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Katakolaminler İdrar</h6></td></tr>
                            @foreach (var type in Types.Skip(155).Take(4))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Marker</h6></td></tr>
                            @foreach (var type in Types.Skip(159).Take(6))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                            <tr><td><h6>Çölyak</h6></td></tr>
                            @foreach (var type in Types.Skip(165).Take(4))
                            {
                                <tr>
                                    <td><ejs-checkbox id="@type.TypeId" checked='@Model.Any(i => i.TypeId == type.TypeId) ? true : false' label="@type.TypeName" value="@type.TypeId" name="Type"></ejs-checkbox></td>
                                    <td style="padding-left: 0.5rem"><p class="text-xs text-secondary mb-0">@type.Price₺</p></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="submit" class="btn bg-gradient-default">Kaydet</button>
        </form>
    </div>
</div>