@model Cor.Apt.Entities.Patient
@{
    var Anamnesis = (Cor.Apt.Entities.Anamnesis)ViewBag.Anamnesis;
    var age = (int) ((DateTime.Now - Model.BirthDate).TotalDays/365.242199);
    var Analyses = (List<Cor.Apt.Entities.Analysis>)ViewBag.Analyses;
    var AnalysisTypes = (List<Cor.Apt.Entities.AnalysisType>)ViewBag.AnalysisTypes;
    var Types = (List<Cor.Apt.Entities.Type>)ViewBag.Types;
    var RadiologyRequests = (List<Cor.Apt.Entities.RadiologyRequest>)ViewBag.RadiologyRequests;
    var RadiologyRequestTypes = (List<Cor.Apt.Entities.RadiologyRequestType>)ViewBag.RadiologyRequestTypes;
    var RadiologyRequestTypeLists = (List<Cor.Apt.Entities.RadiologyRequestTypeList>)ViewBag.RadiologyRequestTypeLists;
    var SaleRecords = (List<Cor.Apt.Entities.SaleRecord>)ViewBag.SaleRecords;
    var SaleRecordLists = (List<Cor.Apt.Entities.SaleRecordList>)ViewBag.SaleRecordLists;
    var Products = (List<Cor.Apt.Entities.Product>)ViewBag.Products;
    var ProfileImgLink = Model.PatientId + ".jpg";
}
<script>
    var patientId = @Model.PatientId
    var analysisTypeList = JSON.parse('@Json.Serialize(AnalysisTypes)');
    var analysesList = JSON.parse('@Json.Serialize(Analyses)');
    var radiologyRequestTypeListJs = JSON.parse('@Json.Serialize(RadiologyRequestTypes)');
    var radiologyRequestListJs = JSON.parse('@Json.Serialize(RadiologyRequests)');
    var saleRecordsJs = JSON.parse('@Json.Serialize(SaleRecords)');
    var saleRecordsListJs = JSON.parse('@Json.Serialize(SaleRecordLists)');
</script>
<style type="text/css" class="cssStyles">
    input {
        accent-color: #03834f;
    }
    .badge-success {
        color: #67b108;
        background-color: #cdf59b;
    }
    .badge-secondary {
        color: #5974a2;
        background-color: #e4e8ed;
    }
    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
	    font-weight: normal;
    }
    .e-dialog {
        min-width: 40% !important;
    }
</style>

<div class="page-header min-height-150 border-radius-xl" style="background-image: url('/img/curved-images/curved-8.jpg'); background-position-y: 50%;">
    <span class="mask bg-gradient-primary opacity-6"></span>
</div>
<div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
    <div class="row gx-4">
        <div class="col-auto">
            <div class="avatar avatar-xxl position-relative">
                <img src="/img/profile/@ProfileImgLink" onerror="this.onerror=null; this.src='/img/Blank-profile.png'" alt="profile_image" class="w-100 border-radius-lg shadow-sm" style="margin-left: 2rem;">
                <button type="button" class="btn btn-icon-only rounded-circle" style="margin-left: -0.5rem; margin-top: -5rem;">
                    <span class="btn-inner--icon"><i class="fas fa-plus" data-bs-toggle="modal" data-bs-placement="top" title="Düzenle" data-bs-target="#changeProfilePictureModal"></i></span>
                </button>
            </div>
        </div>
        <div class="col-auto my-auto text-light mx-4">
            <div class="h-100">
                <h5 class="mb-1">
                    @Model.FullName - @Model.IdentificationNumber
                </h5>
                <p class="mb-0 font-weight-bold text-sm text-primary">
                    @Model.Gender - @Model.BirthDate.ToString("dd/MM/yyyy") - Yaş @age
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-2 py-4">
    <a type="button" class="btn btn-primary" href="/User/TreatmentDetails?patientId=@Model.PatientId" style="background-color: #03834f !important;">Tedavi Yönetimi</a>
    <div class="card h-100">
        <div class="card-body p-3">
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">İşlem Kaydı</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <ejs-grid id="GridPatientRecord" height="20vh" toolbar='@(new List<string>() {"Search", "Add", "Edit", "Delete"})' allowResizing="true" allowTextWrap="true" allowSorting="true" locale="tr">
                        <e-data-manager adaptor="UrlAdaptor" url="/PatientRecord/Get?pid=@Model.PatientId" insertUrl="/PatientRecord/Insert?pid=@Model.PatientId" updateUrl="/PatientRecord/Update" removeUrl="/PatientRecord/Remove"></e-data-manager>
                        <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true" mode="Dialog"></e-grid-editSettings>
                        <e-grid-columns>
                            <e-grid-column field="PatientRecordId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                            <e-grid-column field="RecordDate" headerText="Tarih" format='yMd' editType="datepickeredit" width="120" DefaultValue="@(DateTime.Now)"></e-grid-column>
                            <e-grid-column field="Description" headerText="Açıklama" width="600"></e-grid-column>
                        </e-grid-columns>
                </ejs-grid>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Tanı</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <ejs-grid id="GridDiagnoses" height="20vh" toolbar='@(new List<string>() {"Search", "Add", "Edit", "Delete"})' allowResizing="true" allowTextWrap="true" allowSorting="true" locale="tr" actionComplete="actionCompleteDiagnosisRecord" actionBegin="actionBeginDiagnosisRecord">
                        <e-data-manager adaptor="UrlAdaptor" url="/DiagnosisRecord/Get?pid=@Model.PatientId" insertUrl="/DiagnosisRecord/Insert?pid=@Model.PatientId" updateUrl="/DiagnosisRecord/Update" removeUrl="/DiagnosisRecord/Remove"></e-data-manager>
                        <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true" mode="Dialog"></e-grid-editSettings>
                        <e-grid-columns>
                            <e-grid-column field="DiagnosisRecordId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                            <e-grid-column field="RecordDate" headerText="Tarih" format='yMd' editType="datepickeredit" width="120" DefaultValue="@(DateTime.Now)"></e-grid-column>
                            <e-grid-column field="DiagnosisId" headerText="Tanı Kodu" foreignKeyValue="DiagnosisCode" foreignKeyField="DiagnosisId" dataSource="ViewBag.Diagnoses" width="80"></e-grid-column>
                            <e-grid-column field="DiagnosisId" headerText="Tanı Açıklaması" foreignKeyValue="DiagnosisName" foreignKeyField="DiagnosisId" dataSource="ViewBag.Diagnoses" width="300"></e-grid-column>
                            <e-grid-column field="Description" headerText="Doktor Notu" width="120" edit='@(new {create = "create", read = "read", destroy = "destroy", write = "write"})'></e-grid-column>
                        </e-grid-columns>
                </ejs-grid>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Hasta Bilgileri</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <ul class="list-group text-dark">
                    <div class="row">
                        <div class="col-md-3">
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Sigorta:</strong> &nbsp; @Model.SocialSecurity.SocialSecurityName</li>
                        </div>
                        <div class="col-md-3">
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">İndirim:</strong> &nbsp; @Model.DiscountType.DiscountTypeName</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Eposta:</strong> &nbsp; @Model.Email</li>
                        </div>
                        <div class="col-md-3">
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Telefon:</strong> &nbsp; @Model.Phone</li>
                        </div>
                        <div class="col-md-3">
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">İkinci Telefon:</strong> &nbsp; @Model.SecondPhone</li>
                        </div>
                        <div class="col-md-3">
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Üçüncü Telefon:</strong> &nbsp; @Model.ThirdPhone</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Adres:</strong> &nbsp; @Model.Address</li>
                        </div>
                    </div>
                </ul>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Anamnez</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <ul class="list-group text-dark">
                    @if(@HttpContextAccessor.HttpContext.Session.GetInt32("rl") != 6 && @HttpContextAccessor.HttpContext.Session.GetInt32("rl") != 7){
                    <a href="javascript:;" class="mb-3 text-primary">
                        <i class="fas fa-edit text-primary text-sm" data-bs-toggle="modal" data-bs-placement="top" title="Düzenle" data-bs-target="#anamnesisModal">Düzenle</i>
                    </a>
                    }
                    <h6 class="m-0 mt-1 text-muted">Temel Bilgiler</h6>
                    <hr class="horizontal m-2 gray-light" style="background-color:#b4c0d2">
                    <div class="row">
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Meslek:</strong> &nbsp; @Anamnesis.Profession</li>
                        </div>
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Boy:</strong> &nbsp; @Anamnesis.Height</li>
                        </div>
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Kilo:</strong> &nbsp; @Anamnesis.Weight</li>
                        </div>
                    </div>
                    <h6 class="m-0 mt-3 text-muted">Şikayet - Öykü</h6>
                    <hr class="horizontal m-2 gray-light" style="background-color:#b4c0d2">
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Şikayet:</strong> &nbsp; @Anamnesis.Complaint</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Öykü:</strong> &nbsp; @Anamnesis.MedicalHistory</li>
                        </div>
                    </div>
                    <h6 class="m-0 mt-3 text-muted">Kilo Öyküsü</h6>
                    <hr class="horizontal m-2 gray-light" style="background-color:#b4c0d2">
                    <div class="row">
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">18 Yaş:</strong> &nbsp; @Anamnesis.WeightHistoryOnTeen</li>
                        </div>
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Eğitim:</strong> &nbsp; @Anamnesis.WeightHistoryOnEducation</li>
                        </div>
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">İş:</strong> &nbsp; @Anamnesis.WeightHistoryOnWork</li>
                        </div>
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Evlilik:</strong> &nbsp; @Anamnesis.WeightHistoryOnMarriage</li>
                        </div>
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Gebelik:</strong> &nbsp; @Anamnesis.WeightHistoryOnPregnancy</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Diyet:</strong> &nbsp; @Anamnesis.WeightHistoryOnDiet</li>
                        </div>
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">En Yüksek:</strong> &nbsp; @Anamnesis.WeightHistoryOnTop</li>
                        </div>
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">En Düşük:</strong> &nbsp; @Anamnesis.WeightHistoryOnLow</li>
                        </div>
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Hayal:</strong> &nbsp; @Anamnesis.WeightHistoryOnDream</li>
                        </div>
                        <div class="col-md">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Hedef:</strong> &nbsp; @Anamnesis.WeightHistoryOnGoal</li>
                        </div>
                    </div>
                    <h6 class="m-0 mt-3 text-muted">Özgeçmiş</h6>
                    <hr class="horizontal m-2 gray-light" style="background-color:#b4c0d2">
                    <div class="row">
                         <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Adet Düzeni:</strong> &nbsp; @Anamnesis.Period</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @if (Anamnesis.NumberOfBirth == 0)
                            { 
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Doğum Sayısı:</strong> &nbsp; </li>
                            }
                            else
                            {
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Doğum Sayısı:</strong> &nbsp; @Anamnesis.NumberOfBirth</li>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @if (Anamnesis.NumberOfMiscarry == 0)
                            { 
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Düşük Sayısı:</strong> &nbsp; </li>
                            }
                            else
                            {
                                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Düşük Sayısı:</strong> &nbsp; @Anamnesis.NumberOfMiscarry</li>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Bebek Doğum Ağırlığı:</strong> &nbsp; @Anamnesis.BabyWeightOnBirth</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Operasyonlar:</strong> &nbsp; @Anamnesis.MedicalOperations</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Medeni Durum:</strong> &nbsp; @Anamnesis.MaritalStatus</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Beslenme Durumu:</strong> &nbsp; @Anamnesis.Nutrition</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Uyku Durumu:</strong> &nbsp; @Anamnesis.Sleep</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Spor Durumu:</strong> &nbsp; @Anamnesis.Sport</li>
                        </div>
                    </div>
                    <h6 class="m-0 mt-3 text-muted">Alışkanlıklar</h6>
                    <hr class="horizontal m-2 gray-light" style="background-color:#b4c0d2">
                    <div class="row">
                        <div class="col-md-6">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Sigara:</strong> &nbsp; @Anamnesis.Smoking</li>
                        </div>
                        <div class="col-md-6">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Alkol:</strong> &nbsp; @Anamnesis.Alcohol</li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Kafein:</strong> &nbsp; @Anamnesis.Caffeine</li>
                        </div>
                        <div class="col-md-6">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Madde:</strong> &nbsp; @Anamnesis.Drugs</li>
                        </div>
                    </div>
                    <h6 class="m-0 mt-3 text-muted">Soy Geçmiş</h6>
                    <hr class="horizontal m-2 gray-light" style="background-color:#b4c0d2">
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Anne:</strong> &nbsp; @Anamnesis.Mother</li>
                        </div>
                    </div>                                              
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Baba:</strong> &nbsp; @Anamnesis.Father</li>
                        </div>
                    </div>                                              
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Kardeş:</strong> &nbsp; @Anamnesis.Siblings</li>
                        </div>
                    </div>                                              
                    <div class="row">
                        <div class="col-md-12">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-muted">Diğer:</strong> &nbsp; @Anamnesis.Other</li>
                        </div>
                    </div>                                              
                </ul>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Fizik Muayene</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <ejs-grid id="GridPhysicalExaminations" height="25vh" toolbar='@(new List<string>() {"Search", "Add", "Edit", "Delete"})' allowResizing="true" allowTextWrap="true" allowSorting="true" locale="tr">
                        <e-data-manager adaptor="UrlAdaptor" url="/PhysicalExamination/Get?pid=@Model.PatientId" insertUrl="/PhysicalExamination/Insert?pid=@Model.PatientId" updateUrl="/PhysicalExamination/Update" removeUrl="/PhysicalExamination/Remove"></e-data-manager>
                        <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true" mode="Dialog"></e-grid-editSettings>
                        <e-grid-columns>
                            <e-grid-column field="PhysicalExaminationId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                            <e-grid-column field="RecordDate" headerText="Tarih" format='yMd' editType="datepickeredit" width="120" DefaultValue="@(DateTime.Now)"></e-grid-column>
                            <e-grid-column field="BloodPressure" headerText="Tansiyon" width="110"></e-grid-column>
                            <e-grid-column field="Pulse" headerText="Nabız" width="110"></e-grid-column>
                            <e-grid-column field="Description" headerText="Açıklama" width="600"></e-grid-column>
                        </e-grid-columns>
                </ejs-grid>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Vücut Analizi</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <ejs-grid id="GridBodyAnalysis" height="25vh" toolbar='@(new List<string>() {"Search", "Add", "Edit", "Delete"})' allowResizing="true" allowTextWrap="true" allowSorting="true" locale="tr">
                        <e-data-manager adaptor="UrlAdaptor" url="/BodyAnalysis/Get?pid=@Model.PatientId" insertUrl="/BodyAnalysis/Insert?pid=@Model.PatientId" updateUrl="/BodyAnalysis/Update" removeUrl="/BodyAnalysis/Remove"></e-data-manager>
                        <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true" mode="Dialog"></e-grid-editSettings>
                        <e-grid-columns>
                            <e-grid-column field="BodyAnalysisId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                            <e-grid-column field="RecordDate" headerText="Tarih" format='yMd' editType="datepickeredit" width="120" DefaultValue="@(DateTime.Now)"></e-grid-column>
                            <e-grid-column field="Height" headerText="Boy" editType="numericedit" edit='@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() })' width="80"></e-grid-column>
                            <e-grid-column field="Weight" headerText="Kilo" editType="numericedit" edit='@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() })' width="80"></e-grid-column>
                            <e-grid-column field="Bmi" headerText="BMI" editType="numericedit" edit='@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() })' width="80"></e-grid-column>
                            <e-grid-column field="Fat" headerText="Fat%" editType="numericedit" edit='@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() })' width="80"></e-grid-column>
                            <e-grid-column field="Fm" headerText="FM" editType="numericedit" edit='@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() })' width="80"></e-grid-column>
                            <e-grid-column field="Mm" headerText="MM" editType="numericedit" edit='@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() })' width="80"></e-grid-column>
                            <e-grid-column field="Tbw" headerText="TBW" editType="numericedit" edit='@(new { @params = new Syncfusion.EJ2.Inputs.NumericTextBox() })' width="80"></e-grid-column>
                        </e-grid-columns>
                </ejs-grid>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Radyoloji</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <ejs-grid id="GridRadiology" height="25vh" toolbar='@(new List<string>() {"Search", "Add", "Edit", "Delete"})' 
                    allowGrouping="true" allowResizing="true" allowTextWrap="true" allowSorting="true" locale="tr">
                        <e-data-manager adaptor="UrlAdaptor" url="/Radiology/Get?pid=@Model.PatientId" insertUrl="/Radiology/Insert?pid=@Model.PatientId" updateUrl="/Radiology/Update" removeUrl="/Radiology/Remove"></e-data-manager>
                        <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true" mode="Dialog"></e-grid-editSettings>
                        <e-grid-columns>
                            <e-grid-column field="RadiologyId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                            <e-grid-column field="RecordDate" headerText="Tarih" format='yMd' editType="datepickeredit" width="120" DefaultValue="@(DateTime.Now)"></e-grid-column>
                            <e-grid-column field="RadiologyTypeId" headerText="Tür" width="100" foreignKeyValue="RadiologyTypeName" foreignKeyField="RadiologyTypeId" dataSource="ViewBag.RadiologyTypes"></e-grid-column>
                            <e-grid-column field="Description" headerText="Açıklama" width="600" edit='@(new {create = "create", read = "read", destroy = "destroy", write = "write"})'></e-grid-column>
                        </e-grid-columns>
                </ejs-grid>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Karar</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <ejs-grid id="GridDecision" height="35vh" toolbar='@(new List<string>() {"Search", "Add", "Edit", "Delete"})' allowResizing="true" allowTextWrap="true" allowSorting="true" locale="tr">
                        <e-data-manager adaptor="UrlAdaptor" url="/DecisionAndTracing/Get?pid=@Model.PatientId&isDecision=true" insertUrl="/DecisionAndTracing/Insert?pid=@Model.PatientId&isDecision=true" updateUrl="/DecisionAndTracing/Update" removeUrl="/DecisionAndTracing/Remove"></e-data-manager>
                        <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true" mode="Dialog"></e-grid-editSettings>
                        <e-grid-columns>
                            <e-grid-column field="DecisionAndTracingId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                            <e-grid-column field="RecordDate" headerText="Tarih" format='yMd' editType="datepickeredit" width="120" DefaultValue="@(DateTime.Now)"></e-grid-column>
                            <e-grid-column field="Description" headerText="Açıklama" width="600" edit='@(new {create = "create", read = "read", destroy = "destroy", write = "write"})'></e-grid-column>
                        </e-grid-columns>
                </ejs-grid>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Takip</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <ejs-grid id="GridTracing" height="35vh" toolbar='@(new List<string>() {"Search", "Add", "Edit", "Delete"})' allowResizing="true" allowTextWrap="true" allowSorting="true" locale="tr">
                        <e-data-manager adaptor="UrlAdaptor" url="/DecisionAndTracing/Get?pid=@Model.PatientId&isDecision=false" insertUrl="/DecisionAndTracing/Insert?pid=@Model.PatientId&isDecision=false" updateUrl="/DecisionAndTracing/Update" removeUrl="/DecisionAndTracing/Remove"></e-data-manager>
                        <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true" mode="Dialog"></e-grid-editSettings>
                        <e-grid-columns>
                            <e-grid-column field="DecisionAndTracingId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                            <e-grid-column field="RecordDate" headerText="Tarih" format='yMd' editType="datepickeredit" width="120" DefaultValue="@(DateTime.Now)"></e-grid-column>
                            <e-grid-column field="Description" headerText="Açıklama" width="600" edit='@(new {create = "create", read = "read", destroy = "destroy", write = "write"})'></e-grid-column>
                        </e-grid-columns>
                </ejs-grid>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Laboratuvar</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <a href="/User/Analysis?patientId=@Model.PatientId" class="mb-3 text-primary">
                        <i class="fas fa-edit text-primary text-sm">Yeni Kayıt</i>
                </a>
                <table class="table mb-0" style="display: block; overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Tarih</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Seçimler</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Ücret</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">%10 İndirim</th>
                            <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7">Uygulama Yeri</th>
                            <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7">Toplam</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Açıklama</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var analysis in Analyses.OrderByDescending(i => i.AnalysisDate))
                        {
                            double sum = 0;
                            <tr>
                                <td class="align-middle"><span class="text-secondary text-s font-weight-bold">@analysis.AnalysisDate.ToString("dd/MM/yyyy")</span></td>
                                <td class="align-middle">
                                    @foreach (var analysisType in AnalysisTypes.Where(i => i.AnalysisId == analysis.AnalysisId).ToList())
                                    {
                                        <p class="text-s text-secondary mb-0">@Types.Where(i => i.TypeId == analysisType.TypeId).FirstOrDefault().TypeName</p>
                                    }
                                </td>
                                <td class="align-middle">
                                    @foreach (var analysisType in AnalysisTypes.Where(i => i.AnalysisId == analysis.AnalysisId).ToList())
                                    {
                                        <p class="text-s text-secondary mb-0">@analysisType.Price₺</p>
                                    }
                                </td>
                                <td class="align-middle">
                                    @foreach (var analysisType in AnalysisTypes.Where(i => i.AnalysisId == analysis.AnalysisId).ToList())
                                    {
                                        <p class="text-s text-secondary mb-0">@(analysisType.Price*0.9)₺</p>
                                    }
                                </td>
                                <td class="align-middle text-center">
                                    @foreach (var analysisType in AnalysisTypes.Where(i => i.AnalysisId == analysis.AnalysisId).ToList())
                                    {
                                        @if (analysisType.IsEndoklinikTest == "Endoklinik"){
                                            sum += analysisType.Price;
                                            <p class="text-s text-primary mb-0" style="font-size: 1rem !important;">EndoKlinik</p>
                                        }
                                        else if(analysisType.IsEndoklinikTest == "Beklemede"){
                                            <p class="text-s text-warning mb-0" style="font-size: 1rem !important;">Beklemede</p>
                                        }
                                        else
                                        {
                                            <p class="text-s text-danger mb-0" style="font-size: 1rem !important;">Dışarı</p>
                                        }

                                    }
                                </td>
                                <td class="align-middle text-center"><span class="text-secondary text-s font-weight-bold">@sum₺</span></td>
                                <td class="align-middle"><span class="text-secondary text-s font-weight-bold" style="white-space: normal !important; max-width: 20vw">@analysis.Description</span></td>
                                <td class="align-middle">
                                    <a class="text-secondary font-weight-bold text-s" onclick="openPopup(@analysis.AnalysisId)">Düzenle</a>
                                </td>
                                <td class="align-middle">
                                    <a href="/AnalysisType/Remove/?analysisId=@analysis.AnalysisId&patientId=@Model.PatientId" class="text-danger font-weight-bold text-s">Sil</a>
                                </td>
                            </tr>   
                        }
                    </tbody>
                </table>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Radyoloji Tetkik İstem</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <a href="/User/RadiologyRequest?patientId=@Model.PatientId" class="mb-3 text-primary">
                        <i class="fas fa-edit text-primary text-sm">Yeni Kayıt</i>
                </a>
                <table class="table mb-0" style="display: block; max-width: fit-content; overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Tarih</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Seçimler</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Ücret</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">%10 İndirim</th>
                            <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7">Uygulama Yeri</th>
                            <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7">Toplam</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Açıklama</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var radiologyRequest in RadiologyRequests.OrderByDescending(i => i.RadiologyRequestDate))
                        {
                            double sum = 0;
                            <tr>
                                <td class="align-middle"><span class="text-secondary text-s font-weight-bold">@radiologyRequest.RadiologyRequestDate.ToString("dd/MM/yyyy")</span></td>
                                <td class="align-middle">
                                    @foreach (var radiologyRequestType in RadiologyRequestTypes.Where(i => i.RadiologyRequestId == radiologyRequest.RadiologyRequestId).ToList())
                                    {
                                        <p class="text-s text-secondary mb-0">@RadiologyRequestTypeLists.Where(i => i.RadiologyRequestTypeListId == radiologyRequestType.RadiologyRequestTypeListId).FirstOrDefault().TypeName</p>
                                    }
                                </td>
                                <td class="align-middle">
                                    @foreach (var radiologyRequestType in RadiologyRequestTypes.Where(i => i.RadiologyRequestId == radiologyRequest.RadiologyRequestId).ToList())
                                    {
                                        <p class="text-s text-secondary mb-0">@radiologyRequestType.Price₺</p>
                                    }
                                </td>
                                <td class="align-middle">
                                    @foreach (var radiologyRequestType in RadiologyRequestTypes.Where(i => i.RadiologyRequestId == radiologyRequest.RadiologyRequestId).ToList())
                                    {
                                        <p class="text-s text-secondary mb-0">@(radiologyRequestType.Price*0.9)₺</p>
                                    }
                                </td>
                                <td class="align-middle text-center">
                                    @foreach (var radiologyRequestType in RadiologyRequestTypes.Where(i => i.RadiologyRequestId == radiologyRequest.RadiologyRequestId).ToList())
                                    {
                                        @if (radiologyRequestType.IsEndoklinikTest == "Endoklinik"){
                                            sum += radiologyRequestType.Price;
                                            <p class="text-s text-primary mb-0" style="font-size: 1rem !important;">Endoklinik</p>
                                        }
                                        else if(radiologyRequestType.IsEndoklinikTest == "Beklemede"){
                                            <p class="text-s text-warning mb-0" style="font-size: 1rem !important;">Beklemede</p>
                                        }
                                        else 
                                        {
                                            <p class="text-s text-danger mb-0" style="font-size: 1rem !important;">Dışarı</p>
                                        }
                                    }
                                </td>
                                <td class="align-middle text-center"><span class="text-secondary text-s font-weight-bold">@sum₺</span></td>
                                <td class="align-middle"><span class="text-secondary text-s font-weight-bold" style="white-space: normal !important; max-width: 20vw">@radiologyRequest.Description</span></td>
                                <td class="align-middle">
                                    <a class="text-secondary font-weight-bold text-s" onclick="openRadiologyRequestPopup(@radiologyRequest.RadiologyRequestId)">Düzenle</a>
                                </td>
                                <td class="align-middle">
                                    <a href="/RadiologyRequestType/Remove/?radiologyRequestId=@radiologyRequest.RadiologyRequestId&patientId=@Model.PatientId" class="text-danger font-weight-bold text-xs">Sil</a>
                                </td>
                            </tr>   
                        }
                    </tbody>
                </table>
            </div>
            <!-- ACCORDION ITEM -->
            <div class="my-3">
                <h6 class="text-primary" style="font-size: 1.2rem !important;">Ürün</h6>
                <hr class="horizontal dark mt-0" style="height: 2px">
                <a href="/User/SaleRecord?patientId=@Model.PatientId" class="mb-3 text-primary">
                        <i class="fas fa-edit text-primary text-sm">Yeni Kayıt</i>
                </a>
                <table class="table mb-0" style="display: block; max-width: fit-content; overflow-x: scroll;">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Tarih</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Seçimler</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Ücret</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">%10 İndirim</th>
                            <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7">Adet</th>
                            <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder opacity-7">Toplam</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Açıklama</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var saleRecord in SaleRecords.OrderByDescending(i => i.SaleRecordDate))
                        {
                            double sum = 0;
                            <tr>
                                <td class="align-middle"><span class="text-secondary text-s font-weight-bold">@saleRecord.SaleRecordDate.ToString("dd/MM/yyyy")</span></td>
                                <td class="align-middle">
                                    @foreach (var saleRecordList in SaleRecordLists.Where(i => i.SaleRecordId == saleRecord.SaleRecordId).ToList())
                                    {
                                        <p class="text-s text-secondary mb-0">@Products.Where(i => i.ProductId == saleRecordList.ProductId).FirstOrDefault().ProductName</p>
                                    }
                                </td>
                                <td class="align-middle">
                                    @foreach (var saleRecordList in SaleRecordLists.Where(i => i.SaleRecordId == saleRecord.SaleRecordId).ToList())
                                    {
                                        <p class="text-s text-secondary mb-0">@saleRecordList.Price₺</p>
                                    }
                                </td>
                                <td class="align-middle">
                                    @foreach (var saleRecordList in SaleRecordLists.Where(i => i.SaleRecordId == saleRecord.SaleRecordId).ToList())
                                    {
                                        <p class="text-s text-secondary mb-0">@(saleRecordList.Price*0.9)₺</p>
                                    }
                                </td>
                                <td class="align-middle text-center">
                                    @foreach (var saleRecordList in SaleRecordLists.Where(i => i.SaleRecordId == saleRecord.SaleRecordId).ToList())
                                    {
                                        sum += saleRecordList.Price*saleRecordList.Piece;
                                        <p class="text-s text-secondary mb-0">@(saleRecordList.Piece)</p>
                                    }
                                </td>
                                <td class="align-middle text-center"><span class="text-secondary text-s font-weight-bold">@sum₺</span></td>
                                @* <td class="align-middle"><span class="text-secondary text-s font-weight-bold" style="white-space: normal !important; max-width: 20vw">@saleRecord.Description</span></td> *@
                                @* <td class="align-middle">
                                    <a class="text-secondary font-weight-bold text-s" onclick="openSaleRecordPopup(@saleRecord.SaleRecordId)">Düzenle</a>
                                </td> *@
                                <td class="align-middle">
                                    <a href="/SaleRecord/Remove/?saleRecordId=@saleRecord.SaleRecordId&patientId=@Model.PatientId" class="text-danger font-weight-bold text-xs">Sil</a>
                                </td>
                            </tr>   
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script id="details" type="text/x-template">
    <a href="/User/Analysis?analysisId=${AnalysisId}">Detay<i class="ni ni-bold-right"></i></a>
</script>
<script>
    function actionBeginDiagnosisRecord(args) {
        if ((args.requestType === 'beginEdit' || args.requestType === 'add')) {
            var grid = document.getElementById('GridDiagnoses').ej2_instances[0];
            for (const cols of grid.columns) {
                if ((cols).foreignKeyValue === 'DiagnosisCode') {
                    (cols).visible = false;
                }
            }
        }
    }
    function actionCompleteDiagnosisRecord(args) {
        if ((args.requestType === 'beginEdit' || args.requestType === 'add')) {
            var grid = document.getElementById('GridDiagnoses').ej2_instances[0];
            for (const cols of grid.columns) {
                if ((cols).foreignKeyValue === 'DiagnosisCode') {
                    (cols).visible = true;
                }
            }
        }
    }

    function openPopup(analysisId){
        var tableBody = document.getElementById('tableBody')
        var rows = ''
        document.getElementById('ModalAnalysisId').value = analysisId
        document.getElementById('Description').value = analysesList.find(o => o.AnalysisId == analysisId).Description
        analysisTypeList.forEach((e) => {
            if(e.AnalysisId == analysisId)
            {   
                var isEndo = e.IsEndoklinikTest == "Endoklinik" ? 'checked' : ''
                var isWait = e.IsEndoklinikTest == "Beklemede" ? 'checked' : ''
                var isAnother = e.IsEndoklinikTest == "Dışarı" ? 'checked' : ''
                rows += '<tr><td><p class="text-s text-secondary mb-0">'+ e.Type.TypeName +'</p></td>' +
                    '<td><p class="text-s text-secondary mb-0">'+ e.Price +'₺</p></td>' +
                    '<td><input type="radio" name="'+e.AnalysisTypeId+'" value="Endoklinik"'+isEndo+'><label for="'+e.AnalysisTypeId+'">EndoKlinik</label>  ' +
                    '<input type="radio" name="'+e.AnalysisTypeId+'" value="Beklemede"'+isWait+'><label for="'+e.AnalysisTypeId+'">Beklemede</label>  ' +
                    '<input type="radio" name="'+e.AnalysisTypeId+'" value="Dışarı"'+isAnother+'><label for="'+e.AnalysisTypeId+'">Dışarı</label></td></tr>'
            }
        })
        tableBody.innerHTML = rows
        $('#analysisModal').modal('show')
    }
    function openRadiologyRequestPopup(radiologyRequestId){
        var tableBody = document.getElementById('tableRequestTypeBody')
        var rows = ''
        document.getElementById('ModalRadiologyRequestId').value = radiologyRequestId
        document.getElementById('RadiologyRequestTypeDescription').value = radiologyRequestListJs.find(o => o.RadiologyRequestId == radiologyRequestId).Description
        radiologyRequestTypeListJs.forEach((e) => {
            if(e.RadiologyRequestId == radiologyRequestId)
            {
                var isEndo = e.IsEndoklinikTest == "Endoklinik" ? 'checked' : ''
                var isWait = e.IsEndoklinikTest == "Beklemede" ? 'checked' : ''
                var isAnother = e.IsEndoklinikTest == "Dışarı" ? 'checked' : ''
                rows += '<tr><td><p class="text-s text-secondary mb-0">'+ e.RadiologyRequestTypeList.TypeName +'</p></td>' +
                    '<td><p class="text-s text-secondary mb-0">'+ e.Price +'₺</p></td>' +
                    '<td><input type="radio" name="'+e.RadiologyRequestTypeId+'" value="Endoklinik"'+isEndo+'><label for="'+e.AnalysisTypeId+'">EndoKlinik</label>  ' +
                    '<input type="radio" name="'+e.RadiologyRequestTypeId+'" value="Beklemede"'+isWait+'><label for="'+e.AnalysisTypeId+'">Beklemede</label>  ' +
                    '<input type="radio" name="'+e.RadiologyRequestTypeId+'" value="Dışarı"'+isAnother+'><label for="'+e.AnalysisTypeId+'">Dışarı</label></td></tr>'
            }
        })
        tableBody.innerHTML = rows
        $('#radiologyRequestModal').modal('show')
    }
    function selectAllFunc(form) {
        var check = document.getElementsByName("selectAll"),
    	    radios = document.form.elements;

    	if (check[0].checked) {
    		for( i = 0; i < radios.length; i++ ) {
    			if( radios[i].type == "radio" ) {
    				if (radios[i].value == "Endoklinik" ) {
    					radios[i].checked = true;
    				}
    			}
    		}
    	} else if (check[1].checked)
        {
            for( i = 0; i < radios.length; i++ ) {
    			if( radios[i].type == "radio" ) {
    				if (radios[i].value == "Beklemede" ) {
    					radios[i].checked = true;
    				}
    			}
    		}   
        } else {
    		for( i = 0; i < radios.length; i++ ) {
    			if( radios[i].type == "radio" ) {
    				if (radios[i].value == "Dışarı" ) {
    					radios[i].checked = true;
    				}

    			}
    		}
    	};
    }
    function selectAllFuncRadiology(formRadiology) {
        var check = document.getElementsByName("selectAllRadiology"),
    	    radios = document.formRadiology.elements;

    	if (check[0].checked) {
    		for( i = 0; i < radios.length; i++ ) {
    			if( radios[i].type == "radio" ) {
    				if (radios[i].value == "Endoklinik" ) {
    					radios[i].checked = true;
    				}
    			}
    		}
    	} else if (check[1].checked)
        {
            for( i = 0; i < radios.length; i++ ) {
    			if( radios[i].type == "radio" ) {
    				if (radios[i].value == "Beklemede" ) {
    					radios[i].checked = true;
    				}
    			}
    		}   
        } else {
    		for( i = 0; i < radios.length; i++ ) {
    			if( radios[i].type == "radio" ) {
    				if (radios[i].value == "Dışarı" ) {
    					radios[i].checked = true;
    				}

    			}
    		}
    	};
    }
</script>
<!-- changeProfilePictureModal Modal -->
<div class="modal fade" id="changeProfilePictureModal" tabindex="-1" role="dialog" aria-labelledby="changeProfilePictureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="analysisModalLabel">Hasta Resmini Düzenle</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form asp-controller="User" asp-action="UpdateProfilePicture" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="PatientId" value="@Model.PatientId" id="ProfilePicturePatientId">
                    <div class="form-group">
                        <input name="profilePicture" type="file" accept="image/png, image/jpeg" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">İptal</button>
                        <button type="submit" class="btn bg-gradient-info">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Analysis Modal -->
<div class="modal fade" id="analysisModal" tabindex="-1" role="dialog" aria-labelledby="analysisModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="analysisModalLabel">Laboratuvar Kaydı</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form asp-action="Set" asp-controller="AnalysisType" method="post" name="form">
                    <input type="hidden" name="AnalysisId" value="" id="ModalAnalysisId">
                    <input type="hidden" name="PatientId" value="@Model.PatientId" id="ModalPatientId">
                    <div class="modal-body" id="AnalysisTypeModal">
                        <table style="margin: 0 auto; width: 100%;">
                            <thead>
                                <tr>
                                  <th class="text-secondary opacity-7"></th>
                                  <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7">Fiyat</th>
                                  <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7">Uygulama Yeri</th>
                                </tr>
                            </thead>
                            <div class="row">
                                <div class="col-md-5">
                                    <h6>Hepsini değiştir:</h6>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" name="selectAll" value="Endoklinik" onclick="selectAllFunc(form)"><label for="selectAll">EndoKlinik</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" name="selectAll" value="Beklemede" onclick="selectAllFunc(form)"><label for="selectAll">Beklemede</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" name="selectAll" value="Dışarı" onclick="selectAllFunc(form)"><label for="selectAll">Dışarı</label>
                                </div>
                            </div>
                            <tbody id="tableBody">
                                
                            </tbody>
                        </table>
                        <div class="form-group">
                            <label for="Description">Açıklama</label>
                            <textarea class="form-control" id="Description" name="Description" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">İptal</button>
                        <button type="submit" class="btn bg-gradient-info">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- RadiologyRequest Modal -->
<div class="modal fade" id="radiologyRequestModal" tabindex="-1" role="dialog" aria-labelledby="radiologyRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="radiologyRequestModalLabel">Radyoloji Tetkik İstem Kaydı</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form asp-action="Set" asp-controller="RadiologyRequestType" method="post" name="formRadiology">
                    <input type="hidden" name="RadiologyRequestId" value="" id="ModalRadiologyRequestId">
                    <input type="hidden" name="PatientId" value="@Model.PatientId" id="ModalRadiologyRequestPatientId">
                    <div class="modal-body" id="RadiologyRequestTypeModal">
                        <table style="margin: 0 auto; width: 100%;">
                            <thead>
                                <tr>
                                  <th class="text-secondary opacity-7"></th>
                                  <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7">Fiyat</th>
                                  <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7">Uygulama Yeri</th>
                                </tr>
                            </thead>
                            <div class="row">
                                <div class="col-md-5">
                                    <h6>Hepsini değiştir:</h6>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" name="selectAllRadiology" value="Endoklinik" onclick="selectAllFuncRadiology(formRadiology)"><label for="selectAllRadiology">EndoKlinik</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" name="selectAllRadiology" value="Beklemede" onclick="selectAllFuncRadiology(formRadiology)"><label for="selectAllRadiology">Beklemede</label>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" name="selectAllRadiology" value="Dışarı" onclick="selectAllFuncRadiology(formRadiology)"><label for="selectAllRadiology">Dışarı</label>
                                </div>
                            </div>
                            <tbody id="tableRequestTypeBody">

                            </tbody>
                        </table>
                        <div class="form-group">
                            <label for="RadiologyRequestTypeDescription">Açıklama</label>
                            <textarea class="form-control" id="RadiologyRequestTypeDescription" name="Description" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">İptal</button>
                        <button type="submit" class="btn bg-gradient-info">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Anamnesis Modal -->
<div class="modal fade" id="anamnesisModal" tabindex="-1" role="dialog" aria-labelledby="anamnesisModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="anamnesisModalLabel">Anamnez Bilgileri</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form id="anamnesisForm">
                <input type="hidden" name="PatientId" value="@Model.PatientId">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Profession">Meslek</label>
                                <input type="text" class="form-control" name="Profession" value="@Anamnesis.Profession">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Height">Boy (cm)</label>
                                <input type="text" class="form-control" name="Height" value="@Anamnesis.Height">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Weight">Kilo (kg)</label>
                                <input type="text" class="form-control" name="Weight" value="@Anamnesis.Weight">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Complaint">Şikayet</label>
                                <textarea class="form-control" name="Complaint" rows="3">@Anamnesis.Complaint</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="MedicalHistory">Öykü</label>
                                <textarea class="form-control" name="MedicalHistory" rows="10">@Anamnesis.MedicalHistory</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="text-muted text-sm">Kilo Öyküsü</h6>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="WeightHistoryOnTeen">18 Yaş</label>
                                <input type="text" class="form-control" name="WeightHistoryOnTeen" value="@Anamnesis.WeightHistoryOnTeen">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="WeightHistoryOnEducation">Eğitim</label>
                                <input type="text" class="form-control" name="WeightHistoryOnEducation" value="@Anamnesis.WeightHistoryOnEducation">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="WeightHistoryOnWork">İş</label>
                                <input type="text" class="form-control" name="WeightHistoryOnWork" value="@Anamnesis.WeightHistoryOnWork">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="WeightHistoryOnMarriage">Evlilik</label>
                                <input type="text" class="form-control" name="WeightHistoryOnMarriage" value="@Anamnesis.WeightHistoryOnMarriage">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="WeightHistoryOnPregnancy">Gebelik</label>
                                <input type="text" class="form-control" name="WeightHistoryOnPregnancy" value="@Anamnesis.WeightHistoryOnPregnancy">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="WeightHistoryOnDiet">Diyet</label>
                                <input type="text" class="form-control" name="WeightHistoryOnDiet" value="@Anamnesis.WeightHistoryOnDiet">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="WeightHistoryOnTop">En Yüksek</label>
                                <input type="text" class="form-control" name="WeightHistoryOnTop" value="@Anamnesis.WeightHistoryOnTop">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="WeightHistoryOnLow">En Düşük</label>
                                <input type="text" class="form-control" name="WeightHistoryOnLow" value="@Anamnesis.WeightHistoryOnLow">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="WeightHistoryOnDream">Hayal</label>
                                <input type="text" class="form-control" name="WeightHistoryOnDream" value="@Anamnesis.WeightHistoryOnDream">
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="WeightHistoryOnGoal">Hedef</label>
                                <input type="text" class="form-control" name="WeightHistoryOnGoal" value="@Anamnesis.WeightHistoryOnGoal">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="text-muted text-sm">Özgeçmiş</h6>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Period">Adet Düzeni</label>
                                <textarea class="form-control" name="Period" rows="1">@Anamnesis.Period</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NumberOfBirth">Doğum Sayısı</label>
                                <input type="number" class="form-control" name="NumberOfBirth" value="@Anamnesis.NumberOfBirth">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NumberOfMiscarry">Düşük Sayısı</label>
                                <input type="number" class="form-control" name="NumberOfMiscarry" value="@Anamnesis.NumberOfMiscarry">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="BabyWeightOnBirth">Bebek Doğum Ağırlığı</label>
                                <textarea class="form-control" name="BabyWeightOnBirth" rows="4">@Anamnesis.BabyWeightOnBirth</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="MedicalOperations">Operasyonlar</label>
                                <textarea class="form-control" name="MedicalOperations" rows="4">@Anamnesis.MedicalOperations</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="text-muted text-sm">Alışkanlıklar</h6>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Smoking">Sigara</label>
                                <input type="text" class="form-control" name="Smoking" value="@Anamnesis.Smoking">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Alcohol">Alkol</label>
                                <input type="text" class="form-control" name="Alcohol" value="@Anamnesis.Alcohol">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Caffeine">Kafein</label>
                                <input type="text" class="form-control" name="Caffeine" value="@Anamnesis.Caffeine">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Drugs">Madde</label>
                                <input type="text" class="form-control" name="Drugs" value="@Anamnesis.Drugs">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="MaritalStatus">Medeni Durum</label>
                                <textarea class="form-control" name="MaritalStatus">@Anamnesis.MaritalStatus</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Nutrition">Beslenme Durumu</label>
                                <textarea class="form-control" name="Nutrition">@Anamnesis.Nutrition</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Sleep">Uyku Durumu</label>
                                <textarea class="form-control" name="Sleep">@Anamnesis.Sleep</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Sport">Spor Durumu</label>
                                <textarea class="form-control" name="Sport">@Anamnesis.Sport</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="text-muted text-sm">Soy Geçmiş</h6>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Mother">Anne</label>
                                <textarea type="text" class="form-control" name="Mother">@Anamnesis.Mother</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Father">Baba</label>
                                <textarea type="text" class="form-control" name="Father">@Anamnesis.Father</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Siblings">Kardeş</label>
                                <textarea type="text" class="form-control" name="Siblings">@Anamnesis.Siblings</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Other">Diğer</label>
                                <textarea type="text" class="form-control" name="Other">@Anamnesis.Other</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">İptal</button>
                    <a class="btn bg-gradient-info" onclick="updateAnamnesis()">Kaydet</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function updateAnamnesis()
    {
        $.ajax({
                url: '@Url.Action("Update","Anamnesis")',
                type: 'POST',
                dataType: 'json',
                data: $('#anamnesisForm').serialize(),
                success: function (res) {
                    if(!alert('Kayıt başarılı! Verilerin güncellenmesi için sayfa yenilenecektir.')){window.location.reload();}
                },
                error: function (err) {
                    alert('Hata! Bir süre bekledikten sonra tekrar deneyin.');
                }
            });
    }
    var richTextEditor;
    var rteElem;
    function create(args) {
        rteElem = document.createElement('input');
        return rteElem;
    }
    function write(args) {
        richTextEditor = new ej.inputs.TextBox({
            placeholder: 'Açıklama',
            floatLabelType: 'Auto',
            multiline : true, // enable multiline feature support 
            value: args.rowData[args.column.field],   // bind the column value to the textbox 
            created: function () {
                this.addAttributes({rows: "8"});
            }
          });
        richTextEditor.appendTo(rteElem);
    }
    function destroy() { richTextEditor.destroy(); }
    function read(args) { return richTextEditor.value; }
</script>

<!-- Localization -->
<script>
    function actionBegin(args) {
        if ((args.requestType === 'beginEdit' || args.requestType === 'add')) {
            var grid = document.getElementById('GridAnalysis').ej2_instances[0];
            for (const cols of grid.columns) {
                if ((cols).field === 'Detay') {
                    (cols).visible = false;
                }
            }
        }
    }
    function actionComplete(args) {
        if (args.requestType === 'save') {
            var grid = document.getElementById('GridAnalysis').ej2_instances[0];
            for (const cols of grid.columns) {
                if ((cols).field === 'Detay') {
                    (cols).visible = true;
                }
            }
            grid.refresh();
        }
    }
    ej.base.L10n.load({
        'tr': {
            'datepicker': {
                'today': 'Bugün'
            },
            "uploader": {
                "invalidFileType": "Hatalı dosya türü seçtiniz.",
                "Browse": "Dosya Seç",
                "Clear": "Temizle",
                "Upload": "Yükle",
                "dropFilesHint": "veya buraya sürükleyin",
                "uploadFailedMessage": "Yükleme başarısız",
                "uploadSuccessMessage": "Başarıyla yüklendi",
                "removedSuccessMessage": "Başarıyla silindi",
                "removedFailedMessage": "Silme başarısız",
                "inProgress": "Yükleniyor",
                "readyToUploadMessage": "Yüklemeye hazır",
                "remove": "Kaldır",
                "cancel": "İptal",
                "delete": "Sil"
            },
            'grid': {
                'EmptyRecord': 'Kayıt yok.',
                'Add': 'Ekle',
                'Edit': 'Düzenle',
                'Update': 'Güncelle',
                'Delete': 'Sil',
                'GroupDropArea': 'Gruplamak için sütunların başlıklarını sürükleyiniz.',
                'Search': 'Arama',
                'EditOperationAlert': 'Düzenlemek için kayıt seçilmedi.',
                'Save': 'Kaydet',
                'EditFormTitle': 'Kayıt Düzenleme - ',
                'ConfirmDelete': 'Kaydı silmek istediğinize emin misiniz?',
                'AddFormTitle': 'Yeni Kayıt',
                'OKButton': 'Tamam',
                'SaveButton': 'Kaydet',
                'CancelButton': 'İptal',
                'Item': 'kayıt',
                'Items': 'kayıt'
            },
            'pager': {
                'currentPageInfo': '{0}/{1}',
                'totalItemsInfo': '({0} kayıt)',
                'firstPageTooltip': 'İlk Sayfa',
                'lastPageTooltip': 'Son Sayfa',
                'nextPageTooltip': 'Sonraki Sayfa',
                'previousPageTooltip': 'Önceki Sayfa',
                'nextPagerTooltip': 'Sonraki Sayfa',
                'previousPagerTooltip': 'Önceki Sayfa',
                'pagerDropDown' : 'Sayfa başı kayıt',
                'All': 'Tümü'
            }
        }
    });
    loadCultureFiles('tr');
    function loadCultureFiles(name) {
        var files = ['ca-gregorian.json', 'numbers.json', 'timeZoneNames.json', 'dateFields.json'];
        var loader = ej.base.loadCldr;
        var loadCulture = function (prop) {
            var val, ajax;
            ajax = new ej.base.Ajax(location.origin + '/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
            ajax.onSuccess = function (value) { val = value; };
            ajax.send();
            loader(JSON.parse(val));
            ej.base.setCulture('tr');
        };
        for (var prop = 0; prop < files.length; prop++) { loadCulture(prop); }
    }
    datepicker.locale = 'tr';
</script>