@model Cor.Apt.Entities.User

<script>
    var userId = @Model.UserId
</script>

<div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('/img/curved-images/curved-8.jpg'); background-position-y: 50%;">
    <span class="mask bg-gradient-primary opacity-6"></span>
</div>
<div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
    <div class="row gx-4">
        <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
                <img src="/img/Blank-profile.png" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
        </div>
        <div class="col-auto my-auto text-light">
            <div class="h-100">
                <h5 class="mb-1">
                    @Model.FullName
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-2 py-4">
    <div class="row">
        <div class="col-12">
            <div class="card h-100">
                <div class="card-body p-3">
                    <div class="accordion-2">
                        <div class="row">
                            <div class="col-md-12 mx-auto">
                                <div class="accordion">
                                    <!-- ACCORDION ITEM -->
                                    <div class="accordion-item mb-3">
                                        <h5 class="accordion-header" id="headingOne">
                                            <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#one" aria-expanded="false" aria-controls="one">
                                                Personel Bilgileri
                                                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                            </button>
                                        </h5>
                                        <div id="one" class="accordion-collapse collapse p-3" aria-labelledby="headingOne">
                                            <ul class="list-group text-dark">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Doğum Tarihi:</strong> &nbsp; @Model.BirthDate.ToString("d")</li>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Kimlik No:</strong> &nbsp; @Model.IdentificationNumber</li>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">SGK Sicil No:</strong> &nbsp; @Model.RegistrationNumber</li>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Not:</strong> &nbsp; @Model.Description</li>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Eposta:</strong> &nbsp; @Model.Email</li>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Telefon:</strong> &nbsp; @Model.Phone</li>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">İkinci Telefon:</strong> &nbsp; @Model.SecondPhone</li>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-muted">Adres:</strong> &nbsp; @Model.Address</li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- ACCORDION ITEM -->
                                    <div class="accordion-item mb-3">
                                        <h5 class="accordion-header" id="headingTwo">
                                            <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#two" aria-expanded="false" aria-controls="two">
                                                İzinler
                                                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                            </button>
                                        </h5>
                                        <div id="two" class="accordion-collapse collapse p-2" aria-labelledby="headingTwo">
                                            <ejs-grid id="GridLeave" toolbar='@(new List<string>() {"Search", "Add", "Edit", "Delete"})'
                                                allowGrouping="true" allowPaging="true" allowResizing="true" allowTextWrap="true" allowSorting="true" locale="tr">
                                                    <e-grid-pageSettings pageSizes="true" pageSize="6"></e-grid-pagesettings>
                                                    <e-data-manager adaptor="UrlAdaptor" url="/Leave/Get?pid=@Model.UserId" insertUrl="/Leave/Insert?pid=@Model.UserId" updateUrl="/Leave/Update" removeUrl="/Leave/Remove"></e-data-manager>
                                                    <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true"></e-grid-editSettings>
                                                    <e-grid-columns>
                                                        <e-grid-column field="Id" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                                                        <e-grid-column field="StartTime" headerText="Başlangıç" format='yMd' editType="datepickeredit" width="100" DefaultValue="@(DateTime.Now)"></e-grid-column>
                                                        <e-grid-column field="EndTime" headerText="Bitiş" format='yMd' editType="datepickeredit" width="100" DefaultValue="@(DateTime.Now)"></e-grid-column>
                                                        <e-grid-column field="Days" headerText="Gün" width="80"></e-grid-column>
                                                        <e-grid-column field="LeaveTypeId" headerText="İzin Türü" foreignKeyValue="LeaveTypeName" foreignKeyField="LeaveTypeId" dataSource="ViewBag.LeaveTypes" width="80"></e-grid-column>
                                                    </e-grid-columns>
                                            </ejs-grid>
                                        </div>
                                    </div>
                                    <!-- ACCORDION ITEM -->
                                    <div class="accordion-item mb-3">
                                        <h5 class="accordion-header" id="headingThree">
                                            <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#three" aria-expanded="false" aria-controls="three">
                                                Ödemeler
                                                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                            </button>
                                        </h5>
                                        <div id="three" class="accordion-collapse collapse p-2" aria-labelledby="headingThree">
                                            <ejs-grid id="GridPayment" toolbar='@(new List<string>() {"Search", "Add", "Edit", "Delete"})'
                                                allowGrouping="true" allowPaging="true" allowResizing="true" allowTextWrap="true" allowSorting="true" locale="tr">
                                                    <e-grid-pageSettings pageSizes="true" pageSize="6"></e-grid-pagesettings>
                                                    <e-data-manager adaptor="UrlAdaptor" url="/SalaryPayment/Get?pid=@Model.UserId" insertUrl="/SalaryPayment/Insert?pid=@Model.UserId" updateUrl="/SalaryPayment/Update" removeUrl="/SalaryPayment/Remove"></e-data-manager>
                                                    <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true"></e-grid-editSettings>
                                                    <e-grid-columns>
                                                        <e-grid-column field="SalaryPaymentId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                                                        <e-grid-column field="RecordDate" headerText="Kayıt Tarihi" format='yMd' editType="datepickeredit" width="80" DefaultValue="@(DateTime.Now)"></e-grid-column>
                                                        <e-grid-column field="Amount" headerText="Tutar" editType="numericedit" width="80"></e-grid-column>
                                                        <e-grid-column field="SalaryPaymentTypeId" headerText="Ödeme Türü" foreignKeyValue="SalaryPaymentTypeName" foreignKeyField="SalaryPaymentTypeId" dataSource="ViewBag.SalaryPaymentTypes" width="80"></e-grid-column>
                                                    </e-grid-columns>
                                            </ejs-grid>
                                        </div>
                                    </div>
                                    <!-- ACCORDION ITEM -->
                                    <div class="accordion-item mb-3">
                                        <h5 class="accordion-header" id="headingFour">
                                            <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#four" aria-expanded="false" aria-controls="four">
                                                İş Takibi
                                                <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                                <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                                            </button>
                                        </h5>
                                        <div id="four" class="accordion-collapse collapse p-2" aria-labelledby="headingFour">
                                            <ejs-grid id="GridUserNote" toolbar='@(new List<string>() {"Search", "Add", "Edit", "Delete"})' allowGrouping="true" allowPaging="true" allowResizing="true" allowTextWrap="true" allowSorting="true" locale="tr">
                                                    <e-data-manager adaptor="UrlAdaptor" url="/UserNote/Get?pid=@Model.UserId" insertUrl="/UserNote/Insert?pid=@Model.UserId" updateUrl="/UserNote/Update" removeUrl="/UserNote/Remove"></e-data-manager>
                                                    <e-grid-editSettings allowAdding="true" allowEditing="true" allowDeleting="true" showDeleteConfirmDialog="true"></e-grid-editSettings>
                                                    <e-grid-pageSettings pageSizes="true" pageSize="6"></e-grid-pagesettings>
                                                    <e-grid-columns>
                                                        <e-grid-column field="UserNoteId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                                                        <e-grid-column field="RecordDate" headerText="Kayıt Tarihi" format='yMd' editType="datepickeredit" width="100" DefaultValue="@(DateTime.Now)"></e-grid-column>
                                                        <e-grid-column field="Description" headerText="Açıklama" width="200"></e-grid-column>
                                                    </e-grid-columns>
                                            </ejs-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<!-- Localization -->
<script>
    ej.base.L10n.load({
        'tr': {
            'datepicker': {
                'today': 'Bugün'
            },
            "uploader": {
                "invalidFileType": "Hatalı dosya türü seçtiniz.",
                "Browse": "Dosya Seç",
                "Clear": "Temizle",
                "Upload": "Yükle",
                "dropFilesHint": "veya buraya sürükleyin",
                "uploadFailedMessage": "Yükleme başarısız",
                "uploadSuccessMessage": "Başarıyla yüklendi",
                "removedSuccessMessage": "Başarıyla silindi",
                "removedFailedMessage": "Silme başarısız",
                "inProgress": "Yükleniyor",
                "readyToUploadMessage": "Yüklemeye hazır",
                "remove": "Kaldır",
                "cancel": "İptal",
                "delete": "Sil"
            },
            'grid': {
                'EmptyRecord': 'Kayıt yok.',
                'Add': 'Ekle',
                'Edit': 'Düzenle',
                'Update': 'Güncelle',
                'Delete': 'Sil',
                'GroupDropArea': 'Gruplamak için sütunların başlıklarını sürükleyiniz.',
                'Search': 'Arama',
                'EditOperationAlert': 'Düzenlemek için kayıt seçilmedi.',
                'Save': 'Kaydet',
                'EditFormTitle': 'Kayıt Düzenleme - ',
                'ConfirmDelete': 'Kaydı silmek istediğinize emin misiniz?',
                'AddFormTitle': 'Yeni Kayıt',
                'OKButton': 'Tamam',
                'SaveButton': 'Kaydet',
                'CancelButton': 'İptal',
                'Item': 'kayıt',
                'Items': 'kayıt'
            },
            'pager': {
                'currentPageInfo': '{0}/{1}',
                'totalItemsInfo': '({0} kayıt)',
                'firstPageTooltip': 'İlk Sayfa',
                'lastPageTooltip': 'Son Sayfa',
                'nextPageTooltip': 'Sonraki Sayfa',
                'previousPageTooltip': 'Önceki Sayfa',
                'nextPagerTooltip': 'Sonraki Sayfa',
                'previousPagerTooltip': 'Önceki Sayfa',
                'pagerDropDown' : 'Sayfa başı kayıt',
                'All': 'Tümü'
            }
        }
    });
    loadCultureFiles('tr');
    function loadCultureFiles(name) {
        var files = ['ca-gregorian.json', 'numbers.json', 'timeZoneNames.json', 'dateFields.json'];
        var loader = ej.base.loadCldr;
        var loadCulture = function (prop) {
            var val, ajax;
            ajax = new ej.base.Ajax(location.origin + '/cldr-data/main/' + name + '/' + files[prop], 'GET', false);
            ajax.onSuccess = function (value) { val = value; };
            ajax.send();
            loader(JSON.parse(val));
            ej.base.setCulture('tr');
        };
        for (var prop = 0; prop < files.length; prop++) { loadCulture(prop); }
    }
</script>